<header [ngClass]="{'light-mode': dark}">
    <div class="top__bar d-flex justify-space-between flex-align-center fill">
        <h1>Raphael Alves, Developpeur Web Junior</h1>
        <nav>
            <ul class="d-flex flex-align-center">
                <li class="nav--btn cursor-pointer" (click)="goTo('about')">A propos</li>
                <li class="divider"></li>
                <li class="nav--btn cursor-pointer" (click)="goTo('education')">Parcours</li>
                <li class="divider"></li>
                <li class="nav--btn cursor-pointer" (click)="goTo('projects')">Portfolio</li>
                <li class="divider"></li>
                <li class="nav--btn cursor-pointer" (click)="goTo('contact')">Contact</li>
                <li class="nav--icon cursor-pointer"><i class="fa-solid fa-bars"></i></li>
            </ul>
        </nav>
    </div>
</header>