<section class="d-flex flex-align-center justify-center">
    <div class="d-flex flex-align-center justify-space-around fill">
        <article class="about d-flex">
            <div class="portrait d-flex flex-align-center">
                <img class="portrait__image" src="../../assets/test.jpg" alt="photo de Raphael Alves">
            </div>
            <div class="education">
                <h2>Hello, bienvenue ici!</h2>
                <p>
                    Je m'appelle Raphaël Alves et je suis développeur web.
                </p>
                <p>J'ai vécu de petits boulots sans liens avec le développement jusqu'à mes presque 30 ans et j'ai
                    décidé de
                    prendre mon courage à deux mains et de reprendre des études dans un domaine pour lequel j'ai
                    toujours été passioné.</p>
                <p>J'aime autant travailler sur un projet front ou backend mais ce que je préfère c'est travailler sur
                    les deux en même temps et pouvoir voir coté front les résultats du backend.</p>
                <p>En dehors du travail j'aime énormément les jeux vidéo, la musique et les séries.</p>
            </div>
        </article>
    </div>
</section>