.about {
    width: 90%;
    @media screen and (max-width: 800px) {
        flex-direction: column;
    }
    &__tech {
        width: max-content;
        border-radius: 5px;
        padding: 5px;
        &__container {
            position: relative;
            margin: 10px;
            width: 90px;
            &--img {
                height: 100%;
                width: 100%;
            }
        }
    }
}

.portrait {
    object-fit: cover;
    margin: 0 20px 0 0;
    width: 100%;
    height: 100%;
    @media screen and (max-width: 800px) {
        margin: 0 0 10px 0;
    }
    &__image {
        max-width: 300px;
        max-height: 300px;
        border-radius: 30px;
        margin: 0 auto;
    }
}

.education {
    & h2 {
        margin: 0 0 10px 0;
    }
    & p {
        margin: 0 0 10px 0;
    }
    max-width: 800px;
    height: 100%;
    padding: 10px;
    // margin: 10px auto 0 auto;
    border-radius: 15px 15px;
    background-color: rgba(70, 70, 70, 0.89);
}
