<section>
    <div class="d-flex flex-align-center justify-space-around height-100">
        <div class="about">
            <div class="portrait">
                <img class="portrait__image" src="../../assets/test.jpg" alt="photo de Raphael Alves">
            </div>
        </div>
        <article class="education">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nisl sapien,
            condimentum sit amet orci nec, tempus luctus nibh. Fusce pellentesque malesuada enim, sed tempor turpis
            dapibus placerat. Maecenas non mi purus. Fusce eget facilisis sapien. Vestibulum ante ipsum primis in
            faucibus orci luctus et ultrices posuere cubilia curae; Etiam efficitur euismod tristique. Integer lobortis
            libero vitae sem porta pulvinar. Fusce id commodo sapien, sed tempus urna. In hac habitasse platea dictumst.
            Morbi gravida massa sit amet nisl congue hendrerit.
        </article>
    </div>
</section>