<section>
    <div class="d-flex flex-column flex-align-center">
        <h2>Projets passés et en cours:</h2>
        <div class="container d-flex flex-wrap">
            <div class="container__projects d-flex flex-column">
                <img class="container__projects__image" src="../../assets/un truc drole quand même.jpg" alt="">
                <div class="container__projects__about">
                    <h3>test</h3>
                    <p>blablablabla</p>
                </div>
            </div>
            <div class="container__projects d-flex flex-column">
                <img class="container__projects__image" src="../../assets/image rire berk.jpg" alt="">
                <div class="container__projects__about">
                    <h3>test</h3>
                    <p>blablablabla</p>
                </div>
            </div>
            <div class="container__projects d-flex flex-column">
                <img class="container__projects__image" src="../../assets/machin.png" alt="">
                <div class="container__projects__about">
                    <h3>test</h3>
                    <p>blablablabla</p>
                </div>
            </div>
        </div>
    </div>
</section>