<section id="main">
    <div class="d-flex flex-align-center justify-center flex-column fill">
        <article class="about d-flex flex-column flex-align-center">
            <div class="portrait">
                <img class="portrait__image" src="../../assets/technos/logo-javascript.svg"
                    alt="photo de Raphael Alves">
            </div>
            <div class="education">
                <div class="education--box d-flex flex-column flex-align-center">
                    <h3>Brevet des collèges</h3>
                    <p>2007 - Collège Amiral de Rigny</p>
                    <p>Toul, 54200</p>
                </div>
                <div class="education--separator"></div>
                <div class="education--box d-flex flex-column flex-align-center">
                    <h3>BEP Electronique</h3>
                    <p>2009 - Lycée Jean Prouvé</p>
                    <p>Nancy, 54000</p>
                </div>
                <div class="education--separator"></div>
                <div class="education--box d-flex flex-column flex-align-center">
                    <h3>Diplôme RNCP de niveau 5 en développment web</h3>
                    <p>2022 - OpenClassrooms</p>
                    <p>Formation à distance</p>
                </div>
            </div>
        </article>
        <div class="d-flex about__tech">
            <div class="d-flex flex-column flex-align-center justify-space-between about__tech__container"
                *ngFor="let tech of techs; let i = index">
                <img class="about__tech__container--img" src="{{tech.image}}" alt="{{tech.name}}">
            </div>
        </div>
    </div>
</section>
<section id="projects">
    <div class="d-flex flex-align-center fill">
        <div class="d-flex flex-column flex-align-center w-fill">
            <h2>Projets passés et en cours:</h2>
            <div class="container">
                <div class="d-flex flex-wrap justify-center">
                    <div *ngFor="let work of works;let i = index"
                        class="container__projects cursor-pointer d-flex flex-column">
                        <img class="container__projects__image" src="{{ work.image }}" alt="">
                        <div class="container__projects__box">
                            <div class="container__projects__box__description fill w-fill">
                                <h3>{{ work.name }} </h3>
                                <p>{{ work.description}} </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about">
    <div class="d-flex flex-align-center justify-space-around fill">
        <article class="about d-flex">
            <div class="portrait">
                <img class="portrait__image" src="../../assets/test.jpg" alt="photo de Raphael Alves">
            </div>
            <div class="education">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nisl sapien,
                    condimentum sit amet orci nec, tempus luctus nibh. Fusce pellentesque malesuada enim, sed tempor
                    turpis
                    dapibus placerat. Maecenas non mi purus. Fusce eget facilisis sapien. Vestibulum ante ipsum primis
                    in
                    faucibus orci luctus et ultrices posuere cubilia curae; Etiam efficitur euismod tristique. Integer
                    lobortis
                    libero vitae sem porta pulvinar. Fusce id commodo sapien, sed tempus urna. In hac habitasse platea
                    dictumst.
                    Morbi gravida massa sit amet nisl congue hendrerit.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nisl sapien,
                    condimentum sit amet orci nec, tempus luctus nibh. Fusce pellentesque malesuada enim, sed tempor
                    turpis
                    dapibus placerat. Maecenas non mi purus. Fusce eget facilisis sapien. Vestibulum ante ipsum primis
                    in
                    faucibus orci luctus et ultrices posuere cubilia curae; Etiam efficitur euismod tristique. Integer
                    lobortis
                    libero vitae sem porta pulvinar. Fusce id commodo sapien, sed tempus urna. In hac habitasse platea
                    dictumst.
                    Morbi gravida massa sit amet nisl congue hendrerit.
                </p>
            </div>
        </article>
    </div>
</section>
<section id="contact">
    <div class="d-flex flex-align-center fill">
        <div class="d-flex flex-column flex-align-center w-fill">
            <h2>Pour toute demande professionnelle:</h2>
            <ul>
                <li><i class="fa-regular fa-envelope m-10"></i>Email: machin@machin.com</li>
                <li><i class="fa-solid fa-phone m-10"></i>Téléphone: 01 23 45 67 89</li>
            </ul>
        </div>
    </div>
</section>