.about {
    width: 40%;
    &__tech {
        width: 100%;
        border: solid 1px black;
        border-radius: 5px;
        padding: 5px;
    }
}

.portrait {
    width: 100%;
    object-fit: cover;
    &__image {
        border-radius: 50%;
    }
}

.education {
    width: 40%;
    max-height: 100%;
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px;
}
