<section class="d-flex flex-align-center justify-center">
    <div class="container d-flex flex-column flex-align-center w-fill">
        <h2>Projets passés et en cours:</h2>
        <div class="d-flex">
            <div class="d-flex flex-column">
                <div *ngFor="let work of works;let i = index" class="container__projects cursor-pointer"
                    (click)="selectProject(i)">
                    <img class="container__projects__image" src="{{ work.image }}" alt="">
                </div>
            </div>
            <div class="project__about">
                <h3>{{works[this.workIndex].name}}</h3>
                <p>{{works[this.workIndex].description}}</p>
                <div *ngIf="works[this.workIndex].link"><a href="{{works[this.workIndex].link}}">Voir
                        {{works[this.workIndex].name}}</a></div>
                <h4 *ngIf="works[this.workIndex].github">Github:</h4>
                <div *ngFor="let githublinks of works[this.workIndex].github">
                    <a href="{{githublinks}}">{{works[this.workIndex].name}}'s repo</a>
                </div>
                <div class="d-flex flex-align-center">
                    <div *ngFor="let tech of works[this.workIndex].stack" class="project__about--works">
                        <img class="truc" src="{{tech.image}}" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>